#root {
  background-color: #1f2833;
  margin: 0;
  padding: 0;
}
.avatar-and-username {
  background: rgba(0, 0, 0, 0.65);
}

.container {
  background-color: black;
  padding: none;
  min-height: 100vh;
}

.backdrop {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: relative;
  object-position: center top;
  opacity: 50%;
  mask-image: radial-gradient(black 70%, transparent 100%);
}

.backdrop-container {
  min-height: 400px;
  height: 600px;
  position: relative;
  overflow: hidden;
}

h1 {
  padding: 10%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.cell {
  flex: 1 0 20%;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
  left: 10px;
}

.results {
  width: 30%;
}

.review-poster-container {
  flex: 0 0 auto;
  margin-right: 20px;
}

.review-text-container {
  flex: 1 1 auto;
}

.review-poster {
  height: 200px;
}

.search input {
  width: 100%;
  padding: 15px 25px;
  margin-bottom: 50px;
  font-size: 18px;
}

.card.search-images,
.avatar {
  height: 302px;
  width: 202px;
  border: none;
}

.movie-row > .row {
  overflow: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  border: none;
}

.cast-header,
.review-header {
  border-bottom: solid;
  border-color: #b6b3b3;
  width: 87%;
}

.cast-container,
.movie-reviews-container {
  position: relative;
  left: 70px;
  bottom: 90px;
}

.cast-container > .row {
  overflow: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  width: 90%;
}
.cast-container > .row .card {
  flex: 0 0 auto;
  margin-right: 10px;
}

.row {
  height: 307px;
}

.header {
  margin-top: 25px;
  margin-bottom: 10px;
}

.hello,
.reviews-heading {
  padding-bottom: 30px;
  padding-top: 50px;
}

.reviews-heading-bg {
  background: rgb(0, 0, 0);
  padding-bottom: 1px;
  margin-top: 40px;
  border-top: 0px;
  display: flex;
  justify-content: center;
}

.reviews-container {
  display: flex;
}

.review-date {
  padding-top: 65px;
  padding-bottom: 0px;
}
.scroll {
  overflow-y: auto;
  height: 600px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.thumbs-up,
.thumbs-down {
  position: relative;
  top: 30px;
}
.detail-container {
  position: relative;
  bottom: 150px;
}

.left-container {
  display: flex;
  border: solid blue;
}
.right-container {
  display: flex;
  border: solid red;
}

.liked-left,
.disliked-right .cast {
  flex: 1 1;
}
.detail-right {
  background-color: rgba(0, 0, 0, 0.1);
}

.release-year {
  font-size: large;
  color: #b6b3b3;
}
.director {
  font-size: large;
}

.movie-details {
  flex: 1 0 300px;
  position: relative;
  top: 60px;
  left: 120px;
  max-width: 700px;
  min-width: 100px;
}

.writers {
  flex-direction: column;
}

.secondary-details {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 25px;
}

@media (max-width: 1000px) {
  /* Apply styles when the screen width is 768 pixels or less */
  .flex-container {
    flex-direction: column; /* Stack items vertically */
  }

  .movie-details {
    flex: 0 0 100%; /* Reset flex properties for smaller screens */
  }
}

.card-details {
  left: 100px;
  flex: 0 0 auto;
  max-width: 300px;
  max-height: 425px;
}
.card.actor-picture {
  height: 255px;
  width: 140px;
  border: none;
  margin: 0;
  padding: 0;
}

img.card {
  border: none;
}

.actor-name {
  font-size: 1rem;
  width: 100%;
  position: relative;
  white-space: nowrap;
}

.character {
  font-size: 0.75rem;
  width: 100%;
  position: relative;
  bottom: 15px;
  white-space: nowrap;
}
.card-img-top {
  height: 80%;
  width: 100%;
  position: relative;
}

.c table {
  margin: auto;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid white;
}

th,
td {
  padding: 15px;
  text-align: center;
}

tbody tr:nth-child(odd) {
  color: rgb(207, 21, 4);
  font-weight: bold;
}

tbody tr:nth-child(even) {
  color: rgb(12, 128, 6);
  font-weight: bold;
}

th {
  color: azure;
}

.like-button {
  color: forestgreen;
}

.dislike-button {
  color: darkred;
}

.videoPlayer {
  display: flex;
  justify-content: center;
}

.searchInputs {
  width: 800px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  position: absolute;
  top: 55px;
  right: 50%;
  transform: translate(50%, 50%);
  height: 10px;
}

.movie-inputs {
  margin-bottom: 0px;
  height: 40px;
  width: 100%;
}

.searchIcon {
  display: grid;
  place-items: center;
}

.dataResult {
  margin-top: 0px;
  width: 800px;
  height: 450px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  left: 5;
  z-index: 10;
}

.dataResult::-webkit-scrollbar {
  display: none;
}
.wrapper {
  position: relative;
  bottom: 460px;
}

.movie-lists {
  position: relative;
  bottom: 457px;
}
.main-backdrop-container {
  width: 100%;
  height: 600px;
  position: relative;
}
.main-backdrop {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: relative;
  object-position: center middle;
  mask-image: radial-gradient(black 50%, transparent 100%);
  opacity: 0.5;
}
.tagline {
  position: relative;
  bottom: 550px;
}

.movie-image-dropdown {
  width: 120px;
  height: auto;
}

.movie-details-backdrop {
  background-color: #0b0c10;
}

.movie-image {
  width: 10%;
  height: auto;
}

.movie-columns {
  align-items: center;
  width: 100%;
  border-bottom: black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.movie-title-link {
  text-decoration: none;
  color: darkgreen;
  font-weight: bold;
  text-decoration: underline;
}

.release-date {
  font-style: italic;
}

.navbar {
  position: relative;
  width: 100%;
  z-index: 1;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.navbar-nav {
  margin-left: 0;
  padding-left: 0;
}

.close-button {
  z-index: 100;
  position: sticky;
  margin-left: 95%;
  margin-top: 5px;
  top: 5px;
}

.movie-title {
  margin: 0;
  padding: 0;
}

.movie-title-details {
  font-size: 1em;
  color: white;
  text-shadow: 2px 2px 0.5px rgba(0, 0, 0);
  margin-bottom: 30px;
}

.nav-search-button {
  position: absolute;
  top: 15px;
  right: 165px;
}
.navbar-item1 {
  position: absolute;
  top: 10px;
  right: 75px;
  color: #66fcf1;
}

.navbar-item2 {
  position: absolute;
  top: 10px;
  right: 1px;
}

.dropdown {
  position: absolute;
  top: 6px;
  padding-top: 0;
}
.navbar-brand {
  position: relative;
  top: 5px;
}

.trailer-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
}
.logo {
  position: relative;
  bottom: 8px;
  font-size: 25px;
  font-weight: bold;
  background: -webkit-linear-gradient(#24bf77, #2c7efa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: inline-block;
}

.main-page-container {
  height: 2350px;
}

.search-results-row {
  width: 100%;
  height: 300px;
  background-image: url("/public/sl_121019_25870_92.jpg");
  background-size: cover;
  background-position: center;
  opacity: 75%;
}

.movie-review {
  display: flex;
}
